html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100vh;
  background-color: black;
}

h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 100vw;
  height: 100%;
}

.box {
  transition: all 2s;
  background-color: rgb(248, 161, 110);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  position: absolute;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 2px 2px 8px 1px black;
  transform: translateY(50%);
  border: 2px solid black;
}

button:active {
  background-color: white;
  box-shadow: inline 2px 2px 8px 1px black;
}

.init {
  background-color: grey;
  transition: all 2s;
}

.active {
  background-color: rgb(199, 196, 43);
  transition: all 2s;
}

.complete {
  background-color: rgb(178, 247, 113);
  transition: all 2s;
}

progress {
  width: 80%;
}
